@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500&display=swap');


body{
    font-family: Mulish, Arial, Helvetica, sans-serif;
}

.btn-outline-dark:hover{
    font-weight: 500;
  }
  
  .btn-outline-dark:focus{
    box-shadow: none;
  }